body {
	margin: 0px;
	padding: 0px;
	background-color: #F9F9F9;
	color: #000000;

	font-family: Bitstream Vera Sans, sans-serif;
}

a:link    { color: #2b5e82; }
a:visited { color: #000; }
a:link img { border: 0; }

img {
	max-width: 100%;
	height: auto;
}

pre {
	overflow: auto;
}

.header {
	background: #F8F8F8;
	border-bottom: 1px #999999 solid;
	height: 80px;
}

.logo {
	float: left;
	padding: 10px 10px 0px 20px;
}

.title {
	font-size: x-large;
	font-weight: bold;
	margin-top: 25px;
	float: left;
}

.blog {
	margin-right: 270px;
}

.datebox {
	width: 100%;
	clear: both;
	margin-top: 15px;
}

.datebox-content {
	padding-left: 5px;
	font-weight: bold;
	color: #FFFFFF;
	background: #3B80AE;
}

.dateheader {
	font-size: xlarge;
}

.blog-entry {
	padding: 15px 0px 0px 20px;
	clear: both;
}

.blog-header {
	padding: 2px 6px 2px 6px;
	margin: 4px;
	background: #EEEEEE;
	border: 1px #7D7D7D solid;
	font-weight: bold;
}

.blog-header a:link {
	text-decoration: none;
	color: black;
}

.blog-header a:visited {
	text-decoration: none;
	color: black;
}

.blog-body {
	margin-left: 20px;
	margin-right: 20px;
	font-size: medium;
}

.blog-footer a {
	text-decoration: none;
	color: #999999;
	font-size: small;
}

.side {
	position: absolute;
	right: 10px;
	top: 100px;
	width: 240px;
}

.sidebox {
	margin: 0px;
	padding: 0px;
}

.sidebox-title {
	background: #DEDEDE;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

.sidebox-content {
	background: #DEDEDE;
}

.copyright {
	border-top: 1px #999999 dashed;
	padding-top: 5px;
	margin: 40px 20px 20px 20px;
	font-size: x-small;
	color: #666666;
}
